{% extends "layout.html" %}
{% block title %}About Us - Sputipy{% endblock %}
{% block body %}
    <h1>About us</h1>
    <p>Siamo una starTup leader del mercato dello streaming musicale piratante. La nostra mission è quella di portarvi i brani più meglio della staggione nelle vostre orrechie.</p>
    <p>La nostra applicazzione, unica nel suo genere, vi permette di ascolvadere i videi di TuoTubo di minecraft e ascoltare le musiche fiche.</a>
    <p>Abbiamo ancora qualche problema quà e la. Ah quetti bag. Ma li stiamo risolvendo per vooi.</p>
    <h2 class="text-right">- Il team di Sputipy</h2>
{% endblock %}